* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 20px; /* Adjust this value based on your navbar height */
  scroll-behavior: smooth;
}

:root {
  --colour1: #eb8778;
  --colour2: #8debc0;
  --colour3: #193327;
  --colour4: #412c28;
  --colour5: #385246;
  --colour6: #6b5855;
  --colour7: #c08a82;
  --colour8: #82b89f;
  --colour9: #96817e;
  --colour10: #76857e;
  --colour11: whitesmoke;
}

body {
  background-image: var(--colour1);
  );
  text-align: center;
  font-size: 18px;
  font-family: Delius, "Times New Roman", sans-serif;
  font-weight: bold;
}

/* #wrapper {
  width: 100em;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to bottom,
    var(--colour11) 25%,
    var(--colour1)
  );

  border-radius: 12px;
} */

i {
  color: var(--colour4);
}

nav {
  padding: 0.7em;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 0.7em 0 0.5em 0;
  width: 57%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 15px var(--colour4);
  background-color: var(--colour11);
}
.nav:hover{
  transition: 0.3s ease-in;
  box-shadow: 0 4px 15px var(--colour2);
}

.nav img {
  height: 100%;
  margin: 0 1.1em;
}

nav a {
  color: var(--colour4);
  font-weight: bold;
  padding: 1em 1.7em;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
  display: inline-block;
  position: relative;
}

nav a:hover {
  background-color: var(--colour2);
  color: var(--colour11);
  box-shadow: 0 5px 15px var(--colour1);
  transform: translateY(-3px);
}

header {
  color: var(--colour4);
  text-align: center;
}

.header-text h1 {
  width: 30%;
  margin: auto;
  margin-top: 4em;
  font-size: 70px;
  transition: text-shadow 15s ease-out;
}

.header-text h1:hover {
  transition: 0.3s ease-in;
  text-shadow: 0px 7px 5px var(--colour1), 0px -7px 5px var(--colour1),
    7px 0px 5px var(--colour1), -7px 0px 5px var(--colour1);
}

h2 {
  font-size: 30px;
  padding: 2em;
  margin-top: 1em;
  transition: text-shadow 15s ease-out;
}

h2:hover {
  transition: 0.3s ease-in;
  text-shadow: 0px 6px 5px var(--colour2), 0px -6px 5px var(--colour2),
    6px 0px 5px var(--colour2), -6px 0px 5px var(--colour2);
}

.fa-chevron-down {
  margin: 7em 0 2em 0;
  padding: 1em 2em;
  border-radius: 30px;
  transition: 0.3s ease-out;
}

.fa-chevron-down:hover {
  background-color: var(--colour1);
  color: var(--colour11);
  box-shadow: 0 5px 15px var(--colour2);
  transform: translateY(-3px);
  transition: 0.3s ease-in;
}

.about,
.experience,
.education,
.projects,
.skills,
.contact {
  padding-top: 20px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.about-content {
  width: 80%;
  margin: auto;
  background-color: var(--colour1);
  padding: 2em;
  border-radius: 20px 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.content-cards {
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 20px 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 2em;
  background-color: var(--colour4);
}

.card {
  width: 80%;
  margin: 25px auto;
  background-color: var(--colour11);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 2em;
}
